:root {
    --pico-font-family-sans-serif: Inter, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, var(--pico-font-family-emoji);
    --pico-font-size: 87.5%;
    /* Original: 100% */
    --pico-line-height: 1.25;
    /* Original: 1.5 */
    --pico-form-element-spacing-vertical: 0.5rem;
    /* Original: 1rem */
    --pico-form-element-spacing-horizontal: 1.0rem;
    /* Original: 1.25rem */
    --pico-border-radius: 0.375rem;
    /* Original: 0.25rem */
}

@media (min-width: 576px) {
    :root {
        --pico-font-size: 87.5%;
        /* Original: 106.25% */
    }
}

@media (min-width: 768px) {
    :root {
        --pico-font-size: 87.5%;
        /* Original: 112.5% */
    }
}

@media (min-width: 1024px) {
    :root {
        --pico-font-size: 87.5%;
        /* Original: 118.75% */
    }
}

@media (min-width: 1280px) {
    :root {
        --pico-font-size: 87.5%;
        /* Original: 125% */
    }
}

@media (min-width: 1536px) {
    :root {
        --pico-font-size: 87.5%;
        /* Original: 131.25% */
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    --pico-font-weight: 600;
    /* Original: 700 */
}

article {
    border: 1px solid var(--pico-muted-border-color);
    /* Original doesn't have a border */
    border-radius: calc(var(--pico-border-radius) * 2);
    /* Original: var(--pico-border-radius) */
}

article>footer {
    border-radius: calc(var(--pico-border-radius) * 2);
    /* Original: var(--pico-border-radius) */
}


.label {
    padding: 0.2em 0.5em 0.5em 0.5em;
    border: 1px solid var(--pico-muted-border-color);
    border-radius: var(--pico-border-radius);
    margin: 0;
}

table {
    font-size: small;
}

header {
    font-weight: 600;
}

td, th {
    vertical-align: top;
    padding: 0.5em 0;
}

td > * , th > * {
    padding: 0 0.5em;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.bar-chart {
    width: 100%;
    margin: 0.5em 0 0 0;
    overflow: hidden;
}

.bar {
    text-align: left;
    padding: 6px 0;
    margin: 0;
    border-radius: 0;
    float: left;
    height: 2em;
}

a {
    text-decoration: none;
}

.large {
    font-size: 2em;
}

.box {
    border: 1px solid var(--pico-muted-border-color);
    border-radius: var(--pico-border-radius);
    padding: 1em;
    margin: 1em 1em 0 0;
    min-width: 5em;
    height: 5em;
    display: block;
    float: left;
}
.box > .title {
    font-size: 0.9em;
    clear: right
}
.box > .value {
    font-size: 1.5em;
}